<!DOCTYPE html>
<html>
<head>
    <title>Lista Studentów</title>
</head>
<body>
<h1>Lista Studentów</h1>
<button><a href="/students/new">Dodaj studenta</a></button>
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Numer indeksu</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.indexNumber}"></td>
        <td>
            <a th:href="@{'/students/edit/' + ${student.id}}">Edytuj</a>
            <a th:href="@{'/students/delete/' + ${student.id}}">Usuń</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
